// ============================================
//        FONT IMPORTS
// ============================================

@font-face
{
	font-family : font-regular;
	src         : url('fonts/MuseoSans_500.otf');
}

@font-face
{
	font-family : font-semi-bold;
	src         : url('fonts/MuseoSans_700.otf');
}

@font-face
{
	font-family : font-bold;
	src         : url('fonts/MuseoSans_900.otf');
}

.font-regular (@size: inherit) {
	font-family : font-regular;
	font-weight : normal;
	font-size   : @size;
}

.font-regular-italic (@size: inherit) {
	font-family : font-regular-italic;
	font-weight : normal;
	font-style  : italic;
	font-size   : @size;

}

.font-semi-bold (@size: inherit) {
	font-family : font-semi-bold;
	font-weight : 700;
	font-size   : @size;
}

.font-bold (@size: inherit) {
	font-family : font-bold;
	font-weight : 900;
	font-weight : normal;
	font-size   : @size;
}
