select{
	background         : url('/img/drop-down.png') no-repeat right;
	overflow           : hidden;
	-webkit-appearance : none;
	&:focus
	{
		// Default
		outline        : none;
		// Webkit
		outline        : none;
		outline-offset : none;
	}
	&.form-control{
		border-radius: 2px;
	}
}

.form-control, input, select{
	-webkit-appearance : none;
	&:focus
	{
		// Default
		outline        : none;
		// Webkit
		outline        : none;
		outline-offset : none;
	}
}