.app-header
{
	height           : 80px;
	background-color : @white;
	border-bottom    : 1px solid @color-border;
	line-height      : 80px;
	.branding, .status-log
	{
		clear   : both;
		display : inline-block;
	}
	.btn-signout
	{
		width    : 29px;
		padding  : 0px;
		position : relative;
		&:before
		{
			content          : '';
			position         : absolute;
			top              : 0px;
			left             : 0px;
			height           : 20px;
			width            : 1px;
			background-color : @color-border;
		}
	}

}

.user-status-btns
{
	height : 38px;
	.btn
	{
		height : 100%;
		border : none;

		[class^="icon-"]
		{
			color : @font-light;
		}
		.icon-signout
		{
			color    : @color-warning;
			position : absolute;
			top      : 3px;
			left     : 0px;
		}

		&.btn-user
		{
			padding        : 0px 25px 0px 10px;
			text-align     : right;
			pointer-events : none;
			.user
			{
				font-family : font-regular;
				font-size   : 16px;
				text-align  : right;
			}
			.time-stamp
			{
				font-family    : font-regular;
				font-size      : 10px;
				color          : @font-light;
				text-align     : right;
				text-transform : uppercase;
			}

		}
		&.btn-default:hover
		{
			background-color : @white;
			border-color     : @white;
		}
	}
	.user, .time-stamp
	{
		height      : 19px;
		line-height : 19px;
	}
}

.connection-btns
{
	clear : both;
	.btn-conn
	{
		padding        : 0px 20px;
		text-transform : uppercase;
	}
	.merchant-name
	{
		display     : inline-block;
		padding     : 0px 10px;
		color       : @color-highlight;
		font-family : font-semi-bold;
		font-size   : 12px;
	}
	.btn-group
	{
		&.btn-merchant
		{
			border-radius : 3px;
		}
		.btn
		{
			border-left : none;
			&.btn-merchant
			{
				border-radius : 3px !important;
			}
			&:before
			{
				content          : '';
				position         : absolute;
				top              : 3px;
				left             : 0px;
				height           : 20px;
				width            : 1px;
				background-color : @color-border;
			}
		}
	}

	.dropdown-menu
	{
		border-radius : 3px;
		display       : inline;
		width         : 100%;
		max-height    : 200px;
		overflow-y    : auto;
		padding       : 0px;
		>.list-group
		{
			margin-bottom : 0px;
			>.list-group-item
			{
				border-radius : 0px;
				border-left   : none;
				border-right  : none;
				height        : 40px;
				line-height   : normal;
				cursor        : pointer;
				width         : 100%;
				padding       : 10px 10px;
				text-overflow : ellipsis;
				white-space   : nowrap;
				overflow      : hidden;

				&:hover
				{
					background-color : @background-color;
				}
			}
		}


		&::-webkit-scrollbar
		{
			width            : 10px;
			background-color : @background-color;
		}

		&::-webkit-scrollbar-track
		{
			border-radius    : 10px;
			background-color : @background-color;
		}

		&::-webkit-scrollbar-thumb, &::-webkit-scrollbar-thumb:hover
		{
			border-radius    : 10px;
			background-color : @color-border;
		}
	}
}