.navigation
{
	padding-right : 0px;
	margin-right  : -3px;
	z-index       : 1;
	width         : 122px;
	display       : inline-block;
	position      : absolute;
	left          : 1px;
}

.navigation-tabs
{
	list-style-type : none;
	.nav-tabs-justified
	{
		height     : 79px;
		//		width      : 121px;
		text-align : center;
		position   : relative;
		cursor     : pointer;

		&.selected
		{
			border-top       : 1px solid @color-border;
			border-left      : 1px solid @color-border;
			border-bottom    : 1px solid @color-border;
			border-radius    : 4px 0px 0px 4px;
			background-color : @white;
			color            : @font-color;
			i
			{
				color : @color-primary;
			}

			&:not(:first-child)
			{
				&:after
				{
					content          : "";
					position         : absolute;
					bottom           : -1px;
					width            : 3px;
					height           : 80px;
					background-color : @white;
					right            : -1px;
				}
			}

			&:after
			{
				content          : "";
				position         : absolute;
				bottom           : -1px;
				width            : 3px;
				height           : 1px;
				background-color : @white;
				right            : -1px;
			}

		}

		i
		{
			display   : block;
			font-size : 16px;
			color     : @color-grey;
			padding   : 14px 0px;
		}

		&:before
		{
			content          : "";
			position         : absolute;
			bottom           : -1px;
			width            : 60px;
			height           : 1px;
			background-color : @color-border;
			left             : 30px;
		}



	}
}