[class^="col-"]
{
	&.reports
	{
		margin-top : -20px;
	}
}

.reports-container
{
	margin-left  : 40px;
	margin-right : 40px;
}

.reports-heading-row
{
	min-height    : 79px;
	border-bottom : 1px solid @color-border;
	line-height   : 78px;

	.heading
	{
		font-family : font-regular;
		font-size   : 24px;
	}
}

.banking-selection, .filter-selection
{
	display  : inline-block;
	position : relative;
	width    : 50%;
	float    : left;

	[class^="icon-"]
	{
		position : absolute;
		top      : -22px;
		right    : 20px;
	}
}

.reports-dropdown-selection
{
	padding-top    : 22px;
	padding-bottom : 22px;
}

.search-report-group
{
	line-height : normal;
	.banking-selection, .filter-selection
	{
		[class^="icon-"]
		{
			top : 13px;
		}
	}
}

.report-search
{
	width    : 100%;
	height   : 35px;
	position : relative;
	margin   : 10px 0px;
	.icon-search
	{
		position : absolute;
		top      : 11px;
		left     : 15px;
		color    : @font-light;
	}
	.form-control
	{
		padding-left : 35px;
	}
	.input-group-btn
	{
		width          : 44px;
		height         : 40px;
		white-space    : nowrap;
		vertical-align : baseline;

		.btn
		{
			margin-top  : -2px;
			margin-left : -1px;
			width       : 45px;
			height      : 40px;
		}
	}
	/*

		.btn{
			display: inline-block;
			padding: 6px 12px;
			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			text-align: center;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 4px;
		}*/
}

.banking-selection
{
	padding-right : 10px;
	[class^="icon-"]
	{
		position : absolute;
		top      : -22px;
		right    : 30px;
	}
}

.filter-selection
{
	padding-left : 10px;
}

.reports-breadcrumbs, .reports-spinner, .reports-subtitle
{
	height        : 48px;
	border-bottom : 1px solid @color-border;
	font-size     : 14px;
	font-family   : font-regular;
	color         : @font-light;
	line-height   : 48px;
	padding       : 0px 20px;
	.selected
	{
		color : @color-highlight;
	}
}

.reports-subtitle
{
	font-family : font-semi-bold;
	font-size   : 18px;
	padding     : 0px;
	color       : @font-color;
	border-top  : 1px solid @color-border;
}

.reports-spinner
{
	border : none;
}

.report-panels
{
	min-height : 150px;
	cursor     : pointer;

	.panel-body
	{
		padding  : 20px 20px 20px 102px;
		position : relative;

		.reporting-panel-image
		{
			position : absolute;
			left     : 23px;
		}

		.panel-title
		{
			font-family : font-semi-bold;
			font-size   : 18px;
		}
		.panel-subtitle
		{
			font-family : font-regular;
			font-size   : 14px;
			color       : @font-light;
			margin-top  : 10px;
			.cat-title
			{
				color : @font-color;
			}
		}
		.panel-content
		{
			font-family : font-regular;
			font-size   : 12px;
			color       : @font-light;
			margin-top  : 10px;

		}

		.reporting-panels-update-btns
		{
			position : absolute;
			top      : 20px;
			right    : -1px;
			.btn
			{
				background-color : @background-color;
				&:last-child
				{
					border-radius : 0px;
				}
			}
		}
	}

	&.selected
	{
		border : 1px solid @color-success-border;
	}
}

.reporting-flow-process
{
	height        : 59px;
	margin-bottom : 49px;
	border-bottom : 1px solid @color-border;
	border-top    : 1px solid @color-border;
	margin-top    : -1px;
	margin-left   : -60px;
	margin-right  : -60px;
	.btn-group
	{

		width  : 100%;
		height : 100%;
		a
		{
			text-decoration : none;
		}
		.btn
		{
			border       : none;
			border-right : 1px solid @color-border;
			width        : 100%/3;
			margin       : 0px;
			height       : 100%;
			font-family  : font-regular;
			font-size    : 16px;
			color        : @font-light;
			padding-top  : 13px;

			&:last-child
			{
				border : none;
			}

			[class^="icon-"]
			{
				font-size : 30px;
			}

			.icon
			{
				margin    : 2px 0px 0px;
				font-size : 14px;
				color     : @color-success-border;
				position  : relative;
			}

			&.selected
			{
				color : @font-color;
				.num-sign
				{
					border : 1px solid @font-color;
				}
			}
			&:hover
			{
				color            : @font-light;;
				background-color : @white;
				border-color     : @color-border;
				&.selected
				{
					color : @font-color;
				}
			}
		}
	}
}

.num-sign
{
	width       : 30px;
	height      : 30px;
	.border-radius(30px);
	border      : 1px solid @color-border;
	display     : inline-block;
	padding-top : 3px;
	&.processed
	{
		border : 1px solid @color-success-border;

	}
}