body, html
{

	margin                      : 0px;
	padding                     : 0px;
	background-color            : @background-color;
	overflow-x                  : hidden;
	.backface-visibility(hidden);
	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	.select-disabled;

}

body
{
	font-size      : 14px;
	min-width      : 100%;
	text-rendering : optimizelegibility;
}

.app-content
{
	padding-top : 49px;

	.content-panel
	{
		padding-left : 120px;
	}
	.panel-views
	{
		padding-left     : 0px;
		min-height       : 400px;
		border           : 1px solid @color-border;
		border-radius    : 4px;
		background-color : @white;
		padding-bottom   : 25px;
		.row
		{
			margin-top   : 20px;
			margin-left  : 0px;
			margin-right : 0px;
			[class^=" col-"], [class*="col-"]
			{
				padding-left  : 20px;
				padding-right : 20px;
			}
		}
	}
}

.footer
{
	padding     : 10px 20px;
	font-family : font-regular;
	font-size   : 10px;
	color       : @font-light;
	position    : relative;

}