.scheduling-reports
{
	.regular-radio
	{
		display : none;

		+label
		{
			border-radius      : 2px;
			width              : 100%;
			min-height         : 100%;
			background-color   : #ffffff;
			border             : 1px solid @color-border;
			border-radius      : 4px;
			-webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.05);
		}

		&:checked
		{
			+label
			{
				border : 2px solid @color-success-border;
			}
		}

	}
	.panel
	{
		margin-bottom    : 0px;
		background-color : #ffffff;
		border           : 1px solid transparent;
		border-radius    : 4px;
	}

}

.tool-tip
{
	font-family: font-semi-bold;
	font-style: italic;
	font-weight: 700;
	font-size: 12px;
	height: 30px;
	position: relative;
	line-height: 30px;
	display: inline-block;

	span:last-child{
		padding-left: 38px;
		padding-right: 46px;
	}

	.tip-img{
		width: 30px;
		height: 100%;
		position: absolute;
		text-align: center;
		color: #ffffff;
		font-size: 18px;

		&:before{
			content: '';
			position: absolute;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 0 28px 9px;
			border-color: transparent transparent #ffffff transparent;
			top: 0px;
			right: 0px;
		}
		.icon-exclamation{
			&:before {
				-webkit-transform: rotate(6deg);
				-moz-transform: rotate(6deg);
				-ms-transform: rotate(6deg);
				-o-transform: rotate(6deg);
				transform: rotate(6deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
			}
		}
	}


	&.tool-tip-success{
		border: 1px solid @color-success-border;
		.tip-img{
			background-color: @color-success-border;
		}
	}
}