.search-header
{
	height           : 49px;
	background-color : @white;
	border-bottom    : 1px solid @color-border;
	line-height      : 45px;
}

.search-container
{
	display  : inline-block;
	width    : 60%;
	position : relative;

	[class^="icon-"], [class*=" icon-"]
	{
		position : absolute;
		top      : -6px;
		left     : 10px;
		color    : @font-light;
	}

	.seach-box
	{
		display            : block;
		width              : 100%;
		height             : 34px;
		padding            : 6px 12px 6px 30px;
		font-size          : 14px;
		line-height        : 1.428571429;
		color              : #555555;
		vertical-align     : middle;
		background-color   : #ffffff;
		border             : none;
		border-radius      : 0px;
		-webkit-box-shadow : none;
		box-shadow         : none;
		-webkit-transition : none;
		-moz-transition    : none;
		-o-transition      : none;
		transition         : none;

		&:focus
		{
			// Default
			outline        : none;
			// Webkit
			outline        : none;
			outline-offset : none;
		}

	}

	.search-results
	{
		display          : none;
		position         : absolute;
		top              : 41px;
		left             : 0;
		z-index          : 1000;
		float            : left;
		min-width        : 160px;
		padding          : 5px 10;
		margin           : 2px 0 0;
		list-style       : none;
		font-size        : 14px;
		background-color : #ffffff;
		border           : 1px solid @color-border;
		border-bottom    : none;
		background-clip  : padding-box;
		border-radius    : 0px;
		width            : 100%;

		.list-group
		{
			margin-bottom : 0px;
		}

		.list-group-item
		{
			border-radius : 0px;
			border-left   : none;
			border-right  : none;
			height        : 50px;
			line-height   : 25px;
			cursor        : pointer;
			width         : 100%;
			padding       : 10px 10px;
			text-overflow : ellipsis;
			white-space   : nowrap;
			overflow      : hidden;
			font-family : font-regular;

			.heading
			{
				color       : @color-highlight;
				font-family : font-semi-bold;
				font-size   : 16px;
			}
			&:hover
			{
				background-color : @background-color;
				.heading
				{
					color : @color-selected-highlight;
				}
			}

		}
	}

}