/*****************************
OVERRIDES
*****************************/
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0Em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

a{
	text-decoration: underline;
	color: @color-primary;
}

.color-blue{
	color: @color-primary;
}
.color-gold{
	color: #fe8c18;
}

.no-pointer{
	pointer-events : none;

}

.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}
.row{
	&.no-padding{
		padding-left: 0px;
		padding-right: 0px;
	}
	&.no-margin{
		margin-top: 0px;
	}
}

.btn-container{
	width: 100px;
}