@white :#fff;


@background-color: #f1f1f1;

@color-border:#c6c6c6;
@color-grey:#929292;

@color-primary:#19a6ff;
@color-secondary:#e0f3cc;
@color-secondary-border:#82ce34;

@font-color:#444444;
@font-light:#959595;


@color-success:#9ad75a;
@color-success-border:#82ce34;

@color-info:#40b5ff;
@color-info-border:#1a8ce5   ;

@color-orange:#ffa140;
@color-orange-border:#ff7400;

@color-dark:#737373;
@color-dark-border:#765c5c;

@color-warning:#ee6464;

@color-highlight:#009cff;
@color-selected-highlight:#82ce34;