<div class="row">
	<div class="col-xs-12">
		<!-------------------------------------------------
        SCHEDULE REPORTS
		-------------------------------------------------->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span><i class="icon-time color-blue"></i> Scheduled Reports</span>
			<span class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><i class="icon-plus"></i></button>
					<button type="button" class="btn btn-default">Schedule a New Report</button>
				</div>
			</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item selected">
					<span>Cras justo odio</span>
					<span class="dashboard-list-items pull-right">
						<span class="date">Today</span> | <span class="time">5:20 Pm</span>
						<button type="button" class="btn btn-ready btn-xs">Ready</button>
						<button type="button" class="btn btn-default btn-squared"><i class="icon-eye-open"></i></button>
					</span>

				</li>
				<li class="list-group-item">
					<span>Dapibus ac facilisis in</span>
					<span class="dashboard-list-items pull-right">
						<span class="date">Today</span> | <span class="time">4:14 Pm</span>
						<button type="button" class="btn btn-running btn-xs">Running</button>
						<button type="button" class="btn btn-default btn-squared"><i class="icon-eye-open"></i></button>
					</span>
				</li>
				<li class="list-group-item">
					<span>Morbi leo risus</span>
					<span class="dashboard-list-items pull-right">
						<span class="date">Today</span> | <span class="time">6:00 Pm</span>
						<button type="button" class="btn btn-waiting btn-xs">In Queue</button>
						<button type="button" class="btn btn-default btn-squared"><i class="icon-eye-open"></i></button>
					</span>
				</li>
				<li class="list-group-item">
					<span>Porta ac consectetur ac</span>
					<span class="dashboard-list-items pull-right">
						<span class="date">Today</span> | <span class="time">6:00 Pm</span>
						<button type="button" class="btn btn-again btn-xs">Recurring</button>
						<button type="button" class="btn btn-default btn-squared"><i class="icon-pencil"></i></button>
					</span>
				</li>
				<li class="list-group-item">
					<span>Vestibulum at eros</span>
					<span class="dashboard-list-items pull-right">
						<span class="date">Today</span> | <span class="time">6:00 Pm</span>
						<button type="button" class="btn btn-again btn-xs">Recurring</button>
						<button type="button" class="btn btn-default btn-squared"><i class="icon-pencil"></i></button>
					</span>
				</li>
			</ul>
		</div>
		<!-------------------------------------------------
        BOOKMARKED REPORTS
		-------------------------------------------------->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span><i class="icon-star color-gold"></i> Bookmarked Reports</span>
			<span class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><i class="icon-reorder"></i></button>
					<button type="button" class="btn btn-default">View All</button>
				</div>
			</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item selected">
					<span>Cras justo odio</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Dapibus ac facilisis in</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Morbi leo risus</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Porta ac consectetur ac</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Vestibulum at eros</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
			</ul>
		</div>

		<!-------------------------------------------------
		TOP REPORTS
		-------------------------------------------------->
		<div class="panel panel-default">
			<div class="panel-heading">
				<span><i class="glyphicon glyphicon-tasks color-blue"></i> Top Reports</span>
			<span class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default"><i class="icon-reorder"></i></button>
					<button type="button" class="btn btn-default">View All</button>
				</div>
			</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item selected">
					<span>Cras justo odio</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Dapibus ac facilisis in</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Morbi leo risus</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Porta ac consectetur ac</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
				<li class="list-group-item">
					<span>Vestibulum at eros</span>
					<span class="dashboard-list-items pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>

				</li>
			</ul>
		</div>
	</div>
</div>