<div class="row">
	<div class="col-xs-12 reports">
		<div class="reports-container">
			<!-------------------------------------------------
			REPORTS
			-------------------------------------------------->
			<div class="reports-heading-row">
				<div class="heading">Reports</div>
			</div>
			<!-------------------------------------------------
			DROPDOWNS SELECTIONS
			-------------------------------------------------->
			<div class="reports-heading-row reports-dropdown-selection">
				<div class="banking-selection">
					<select class="form-control ">
						<option>Banking</option>
					</select>
					<i class="icon-caret-down"></i>
				</div>
				<div class="filter-selection">
					<select class="form-control">
						<option>Filter by Tags</option>
						<option>Sales</option>
						<option>Season Pass</option>
						<option>Top Reports</option>
					</select>
					<i class="icon-caret-down"></i>
				</div>
			</div>
			<!-------------------------------------------------
			REPORTS BREADCRUMBS
			-------------------------------------------------->
			<div class="reports-breadcrumbs">
				Reports > Category > <span class="selected">Banking</span>
			</div>
			<!-------------------------------------------------
			PLACEHOLDER FOR THE SPINNER
			-------------------------------------------------->
			<div class="reports-spinner">

			</div>
			<!-------------------------------------------------
			REPORTS PANELS
			-------------------------------------------------->
			<div class="row">
				<div class="panel panel-default report-panels">
					<div class="panel-body">
						<img src="img/reporting_graph.png" class="reporting-panel-image"/>

						<div class="panel-title">
							Net Bankout by Payment Type
						</div>
						<div class="panel-subtitle">
							<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
						</div>
						<div class="panel-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
							Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
							aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
						</div>
					<span class="reporting-panels-update-btns">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="panel panel-default report-panels">
					<div class="panel-body">
						<img src="img/reporting_graph.png" class="reporting-panel-image"/>

						<div class="panel-title">
							Net Payment Plan Season Pass Summary
						</div>
						<div class="panel-subtitle">
							<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
						</div>
						<div class="panel-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
							Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
							aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
						</div>
					<span class="reporting-panels-update-btns">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="panel panel-default report-panels">
					<div class="panel-body">
						<img src="img/reporting_graph.png" class="reporting-panel-image"/>

						<div class="panel-title">
							Net Membership Payment Summary
						</div>
						<div class="panel-subtitle">
							<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
						</div>
						<div class="panel-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
							Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
							aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
						</div>
					<span class="reporting-panels-update-btns">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-default report-panels">
					<div class="panel-body">
						<img src="img/reporting_graph.png" class="reporting-panel-image"/>

						<div class="panel-title">
							Net Membership Payment Summary
						</div>
						<div class="panel-subtitle">
							<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
						</div>
						<div class="panel-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
							Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
							aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
						</div>
					<span class="reporting-panels-update-btns">
						<div class="btn-group">
							<button type="button" class="btn btn-default"><i class="icon-time color-blue"></i></button>
							<button type="button" class="btn btn-default"><i class="icon-eye-open"></i></button>
						</div>
					</span>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>