<div class="row">
	<div class="col-xs-12 reports">
		<div class="reports-container">
			<!-------------------------------------------------
			REPORTS
			-------------------------------------------------->
			<div class="reports-heading-row">
				<div class="heading">Scheduling Assistant</div>
			</div>
			<!-------------------------------------------------
			PROCESS FLOW
			-------------------------------------------------->

			<div class="reporting-flow-process clearfix">
				<div class="btn-group">
					<a class="btn btn-default selected"><span class="num-sign">1</span> Select Report</a>
					<a class="btn btn-default"><span class="num-sign">2</span> Define Parameters</a>
					<a class="btn btn-default"><span class="num-sign">3</span> Review & Schedule</a>
				</div>
			</div>

			<!-------------------------------------------------
			SUBTITLE
			-------------------------------------------------->
			<div class="reports-subtitle">
				Select a report
			</div>
			<!-------------------------------------------------
			DROPDOWNS SELECTIONS
			-------------------------------------------------->
			<div class="reports-heading-row reports-dropdown-selection search-report-group clearfix">

				<div class="tool-tip tool-tip-success">
					<span class="tip-img">!</span>
					<span>You may search reports by Name, Tags, or Category</span>
				</div>

				<div class="input-group report-search">
					<span class="icon-search"></span>
					<input type="text" class="form-control" placeholder="Search Reports">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go</button>
					</span>
				</div>

				<div class="banking-selection">
					<select class="form-control ">
						<option>Banking</option>
					</select>
					<i class="icon-caret-down"></i>
				</div>
				<div class="filter-selection">
					<select class="form-control">
						<option>Filter by Tags</option>
						<option>Sales</option>
						<option>Season Pass</option>
						<option>Top Reports</option>
					</select>
					<i class="icon-caret-down"></i>
				</div>
			</div>
			<!-------------------------------------------------
			PLACEHOLDER FOR THE SPINNER
			-------------------------------------------------->
			<div class="reports-spinner">

			</div>
			<!-------------------------------------------------
			REPORTS PANELS loop through every row
			-------------------------------------------------->
			<div class="row scheduling-reports">
				<input
					type="radio"
					id="method-0"
					name="reportSelected"
					class="regular-radio"
					/>
				<label for="method-0">
					<div class="panel report-panels">
						<div class="panel-body">
							<img src="img/reporting_graph.png" class="reporting-panel-image"/>

							<div class="panel-title">
								Net Bankout by Payment Type
							</div>
							<div class="panel-subtitle">
								<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
							</div>
							<div class="panel-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
								Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
								aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
							</div>
						</div>
					</div>
				</label>
			</div>

			<div class="row scheduling-reports">
				<input
					type="radio"
					id="method-1"
					name="reportSelected"
					class="regular-radio"
					/>
				<label for="method-1">
					<div class="panel report-panels">
						<div class="panel-body">
							<img src="img/reporting_graph.png" class="reporting-panel-image"/>

							<div class="panel-title">
								Net Payment Plan Season Pass Summary
							</div>
							<div class="panel-subtitle">
								<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
							</div>
							<div class="panel-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
								Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
								aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
							</div>
						</div>
					</div>
				</label>
			</div>

			<div class="row scheduling-reports">
				<input
					type="radio"
					id="method-2"
					name="reportSelected"
					class="regular-radio"
					/>
				<label for="method-2">
					<div class="panel report-panels">
						<div class="panel-body">
							<img src="img/reporting_graph.png" class="reporting-panel-image"/>

							<div class="panel-title">
								Net Membership Payment Summary
							</div>
							<div class="panel-subtitle">
								<span class="category">Category: <span class="cat-title">Banking</span></span>
							<span class="tags">Tags:
								<button type="button" class="btn btn-running btn-xs">Sales</button>
								<button type="button" class="btn btn-running btn-xs">Season Pass</button>
								<button type="button" class="btn btn-running btn-xs">Top Reports</button>
							</span>
							</div>
							<div class="panel-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. orci dictum, in mattis lorem porta.
								Maecenas faucibus viverra ante non dapibus. Suspendisse sit amet eros at velit suscipit
								aliquet ac necante. Cras aliquam venenatis erat. Nam tellus enim, malesuada a nunc utparva.
							</div>
						</div>
					</div>
				</label>
			</div>

			<!-------------------------------------------------
			Proceed buttons
			-------------------------------------------------->
			<hr>
			<div class="row">
				<div class="pull-right btn-container">
					<button type="button" class="btn btn-ready btn-block" data-ng-click="routeTo('scheduling-step-2')">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>